.sidebar-container {
  width: 16rem;
  background-color: #2d2d4b;
  color: white;
  height: 925px;
  padding: 1rem;
}

.sidebar-header {
  margin-bottom: 2rem;
}

.sidebar-header h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.sidebar-header p {
  font-size: 0.875rem;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.nav-item:hover {
  background-color: #8a4fd6;
}

.nav-item span {
  margin-left: 0.75rem;
}
